@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;

    --animate-fadein: fadeIn 0.5s ease-out;
    --animate-pushup: pushUp 0.5s ease-out;
    --animate-loadingWave: loadingWave 1s ease-in-out infinite;
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        ,
        100% {
            opacity: 1;
        }
    }

    @keyframes pushUp {
        0% {
            transform: translateY(-60px);
            opacity: 0;
        }

        ,
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes loadingWave {

        0%,
        100% {
            height: 10px;
        }

        50% {
            height: 50px;
        }
    }

}